 * {
     padding: 0;
     margin: 0;
     color: white;
     font-family: sans-serif;
 }

 body {
     background-color: #001;
     display: flex;
 }

 .img-box {
     width: 50px;
     height: 50px;
     border-radius: 100px;
     overflow: hidden;
     border: solid 3px white;
     flex-shrink: 0;
 }

 .img-box img {
     width: 100%;
 }

 .profil {
     display: flex;
     align-items: center;
     gap: 30px;

 }

 .profil h2 {
     font-size: 20px;
     text-transform: capitalize;
 }

 .menu {
     background-color: #123;
     width: 55px;
     height: 100vh;
     padding: 20px;
     overflow: hidden;
     transition: .5s;

 }

 .menu:hover {
     width: 260px;
 }

 ul {
     list-style: none;
     position: relative;
     height: 95%;
 }

 ul li a {
     display: block;
     text-decoration: none;
     padding: 10px;
     margin: 20px 0;
     border-radius: 8px;
     display: flex;
     align-items: center;
     gap: 40px;
     transition: .5s;
     font-weight: 500;
 }

 ul li a:hover,
 .active,
 .data-info .box:hover,
 td:hover {
     background-color: #ffffff55;
 }

 .log-out {
     position: absolute;
     bottom: 0;
     width: 100%;
 }

 .log-out a {
     background-color: #a00;
 }

 ul li a i {
     font-size: 28px;
 }

 .content {
     width: 100%;
     margin: 15px;
 }

 .title-info {
     background-color: #0481ff;
     padding: 10px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     border-radius: 8px;
     margin: 15px 0;
 }

 .data-info {
     display: flex;
     align-items: center;
     justify-content: space-between;
     flex-wrap: wrap;
     gap: 10px;
 }

 .data-info .box {
     background-color: #123;
     height: 150px;
     flex-basis: 150px;
     flex-grow: 1;
     border-radius: 8px;
     display: flex;
     align-items: center;
     justify-content: space-around;
 }

 .data-info .box i {
     font-size: 25px;
     text-align: center;
     color: #8fc7ff;
 }

 .data-info .box .data {
     text-align: center;
     padding-top: 25px;

 }

 .data-info .box .data p {
     padding-bottom: 20px;
 }

 .data-info .box .data p {
     font-size: 20px;
     font-weight: 400;
     letter-spacing: 1px;
 }

 .data-info .box .data span {
     font-size: 25px;
     font-weight: 600;
     letter-spacing: 1px;
 }

 table {
     width: 100%;
     text-align: center;
     border-spacing: 8px;
 }

 td,
 th {
     background-color: #123;
     height: 40px;
     border-radius: 8px;
 }

 th {
     background-color: #0080ff;
 }

 .price,
 .count {
     padding: 6px;
     border-radius: 6px;
 }

 .price {
     background-color: green;
 }

 .count {
     background-color: orange;
     color: white;
 }

 @media screen and (max-width: 1140px) {
     .active {
         background-color: #112233;
     }
 }